<div class="card">
  <div class="display-image"></div>

  <div class="card-header">
    <h1>{{ pageTitle }}</h1>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="card-text">
        <h4>Introduction</h4>
        <p>
          The key purpose of a form in many scenarios is to collect or edit data. We deal with CRUD, or to say that another way, create, read, update, and delete operations for retrieving and saving data to a backend server with HTTP. Many Angular applications obtain data using HTTP. The application issues an HTTP get request to a web service on a web server. At some future point in time, that web service processes the request, retrieves the data, often
          from a database, and returns that data to the application in in an HTTP response. The application then processes that data. Note that I said at some future point in time. HTTP requests are asynchronous. We send a request, and continue about our processing, handling other user interactions as needed. At some future point in time, the request is processed and we receive the response. The user then enters or updates information, and selects to save. The application issues a post or a put request to a web service, passing along the entered data. At some future point in time, that web service processes the request, stores the data, and returns an HTTP response. The application then processes that response, which may contain the updated data.
          Notice that I again said at some future point in time. Working with HTTP requests and responses requires working asynchronously. In this module, we examine the Data Access Service for our data operations, including creating new data, retrieving the data for display in the form, processing user updates to existing data, and deleting existing data. Let's get started.
        </p>
        <h3>Summary</h3>
        <p>
          You can build forms in Angular with a template-driven approach using HTML and data binding, or a Reactive approach by defining the form model and validation in our component code. In this course, Angular Reactive Forms, you'll first learn how build Reactive forms. Next you'll learn how to validate user-entered data Finally, you'll wrap up learning how to save that data using HTTP. By the end of this course, you will have a simple, but fully operational Angular application that includes a Reactive form with full create, read, update, and delete (CRUD) support. You can use this application as a reference for your own development
        </p>
      </div>
    </div>
  </div>
</div>
